/* General Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  background-image: url('images/bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
header {
  padding: 30px;
}

h1 {
  font-size: 2.5rem;
  margin: 10px;
  color: #5f28a7;
}
.game-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
}
button {
  padding: 10px 20px;
  background: #ff0000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background: #ff6347;
}

/* Landing Page Styles */
.game-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 20px;
}
.game-card {
  background: rgba(231, 227, 227, 0.37);
  padding: 20px;
  border-radius: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
}
.game-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 10px 20px rgb(74, 82, 189);
}
.play-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  color: rgb(255, 255, 255);
  background: #5f28a7;
  text-decoration: none;
  border-radius: 5px;
}
.game-card img{
  width: 80%;
  border-radius: 10%;
}

/* Responsive Styles */
@media screen and (max-width: 1200px) {
  h1 {
    font-size: 2rem;
  }
  .game-container {
    padding: 15px;
  }
  .game-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media screen and (max-width: 992px) {
  h1 {
    font-size: 1.8rem;
  }
  .game-container {
    padding: 15px;
  }
  .game-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  button {
    padding: 8px 16px;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }
  body {
    background-image: url('images/phone.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
  .game-container {
    padding: 10px;
  }
  .game-grid {
    grid-template-columns: 1fr; /* One column on smaller screens */
  }
  button {
    width: 100%; /* Full width buttons on smaller screens */
    padding: 12px;
  }
  .game-card img{
    width: 50%;
    border-radius: 15%;
  }
  
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 1.2rem;
  }
  footer {
    padding: 15px;
  }
  .game-card {
    padding: 15px;
  }
  .play-btn {
    padding: 8px 12px;
  }
  button {
    padding: 10px;
  }
}
